@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Manrope:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #005bb3;
  --color-primary-container: #d6e3ff;
  --color-primary-fixed: #d6e3ff;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #001b3d;

  --color-secondary: #565e71;
  --color-secondary-container: #dae2f9;
  --color-on-secondary-container: #131c2b;

  --color-tertiary: #a93c78;
  --color-tertiary-container: #ffd8ec;
  --color-on-tertiary-container: #370023;

  --color-error: #ba1a1a;
  --color-on-error: #ffffff;

  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f7f9ff;
  --color-surface-container: #f0f4fa;
  --color-surface-container-high: #e9eff7;
  --color-surface-container-highest: #e2eaf4;
  --color-inverse-surface: #1a1c1e;
  --color-on-surface: #1a1c1e;
  --color-on-surface-variant: #44474e;

  --color-outline: #74777f;
  --color-outline-variant: #c4c6cf;

  --color-background: #fdfbff;
  --color-on-background: #1a1c1e;

  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Manrope", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  font-family: var(--font-body);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
